@import 'tailwindcss';

@font-face {
  font-family: 'Pretendard';
  src: url('../public/fonts/PretendardVariable.woff2') format('woff2');
}

@font-face {
  font-family: 'Righteous';
  src: url('../public/fonts/righteous-v18-latin-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'SpoqaHanSans';
  src: url('../public/fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'SpoqaHanSans';
  src: url('../public/fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'SpoqaHanSans';
  src: url('../public/fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'SpoqaHanSans';
  src: url('../public/fonts/SpoqaHanSansNeo-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'SpoqaHanSans';
  src: url('../public/fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2');
  font-weight: 200;
}

body {
  margin: 0;
  font-family: 'Pretendard';
  letter-spacing: -0.025em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  display: none;
}

:root {
  --color-rise: #639d01;
  --color-fall: #ea0070;
  --color-unchanged: #333333;
}

@keyframes price-up-pulse {
  0% {
    outline-color: var(--color-rise) !important;
  }
  80% {
    outline-color: var(--color-rise) !important;
  }
  100% {
    outline-color: rgba(241, 41, 90, 0); /* 마지막에 한번에 사라짐 */
  }
}

@keyframes price-down-pulse {
  0% {
    outline-color: var(--color-fall) !important;
  }
  80% {
    outline-color: var(--color-fall) !important;
  }
  100% {
    outline-color: rgba(63, 81, 181, 0); /* 마지막에 한번에 사라짐 */
  }
}

.price-up-animation {
  animation: price-up-pulse 0.25s ease-in-out;
  outline: 1px solid transparent;
}

.price-down-animation {
  animation: price-down-pulse 0.25s ease-in-out;
  outline: 1px solid transparent;
}

/* 가격 색상 클래스 */
.text-price-rise {
  color: var(--color-rise) !important;
}

.text-price-fall {
  color: var(--color-fall) !important;
}

.text-price-unchanged {
  color: var(--color-unchanged) !important;
}
